<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <report>
            <clover outputFile="reports/coverage-report.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="reports/tests-report.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:NfwhK5h6kuTEmCMRZOnAHMU00KFm4GpijkXmLSOeBoM="/>
        <env name="HTTP_LOGGER_ENABLE" value="false"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql_testing"/>
        <env name="HTTP_LOGGER_CONNECTION" value="logs" />
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="DB_CORE_TESTING_CONNECTION" value="core_mysql_testing"/>
    </php>
</phpunit>
